<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About hbs</title>
    {{>link_css}}
</head>
<body>
    {{>header}}
    <main>
        <p>
            This site was created by Renat Krasava. It uses data from mapbox.com and darksky.net .
        </p>
        <img class="eater" src="/img/eater.jpg" alt="">
    </main>
    {{>footer}}
</body>
</html>